title{background color: aliceblue;}
h1{text-align: center;}
body{color: aliceblue; background color: aquamarine;}
a{}
.btn-primary{background-color: #FF7F50 !important;}
.btn-secudary{background-color:#00FF00 !important;}